* {
  box-sizing: border-box;
  /* Removed margin and padding, handled by CssBaseline */
}

body {
  /* font-family is set by theme */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color and color are set by theme */
}

#root {
  /* min-height is set by theme MuiCssBaseline override */
} 